node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
dist
**/dist
test
**/test
.env
**/.env
.env.*
**/.env.*
!.env.example
**/.env.example
storybook-static
playwright-report
test-results
*.log
.git
.github
README.md
docs
